{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

# https://github.com/mathiasbynens/dotfiles/blob/main/.macos

defaults write NSGlobalDomain AppleInterfaceStyle Light

# Catalina's notarization is a disaster for cli apps (aka the real world).
sudo spctl --master-disable

# and the show goes on.
DevToolsSecurity -enable

{{ end -}}
