{{ if (eq .chezmoi.os "linux") -}}
{{ if (eq .chezmoi.osRelease.id "fedora") -}}
#!/usr/bin/env bash

set -euo pipefail

{{- $pkgs := list
     "direnv"
     "discount"
     "fzf"
     "git-crypt"
     "golang"
     "jq"
     "notmuch"
     "pass"
     "the_silver_searcher"
     "wget" }}

echo dnf install --assumeyes {{ range $val := $pkgs }} {{ $val }} {{ end }} | sudo sh -x

{{ if (not .headless) -}}
mkdir -p ~/.local/share/fonts
tmpdir=$(mktemp -d)
cleanup() {
    rm -rf ${tmpdir}
}
trap cleanup EXIT
wget https://download.jetbrains.com/fonts/JetBrainsMono-2.225.zip
unzip -d $tmpdir -x JetBrainsMono-2.225.zip
cp -a $tmpdir/fonts/ttf/JetBrainsMono*.ttf ~/.local/share/fonts
fc-cache -fv
{{ end -}}

{{ end -}}
{{ end -}}
