{{ if (and (eq .chezmoi.os "darwin" "linux") (not .transient) (.devbox)) -}}
#!/usr/bin/env bash

set -eufo pipefail

if ! which go >/dev/null 2>&1; then
   echo "go is not installed"
   exit 1
fi

export GOPATH=${GOPATH:=$HOME}
export GOPROXY=https://proxy.golang.org,direct

go install "golang.org/x/tools/cmd/goimports@v0.1.5"
go install "golang.org/x/tools/gopls@v0.7.2"
go install "github.com/mikefarah/yq/v4@v4.13.0"
go install "github.com/jsonnet-bundler/jsonnet-bundler/cmd/jb@v0.4.0"
go install "github.com/grafana/tanka/cmd/tk@v0.17.3"

{{ end -}}
