{{ if (eq .chezmoi.os "darwin" "linux") -}}
#!/usr/bin/env bash
set -eufo pipefail
mkdir -p "$HOME/.local/share/bash-completions/completions"
{{ end -}}

{{ if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash
timedatectl set-timezone Europe/London
{{ end -}}
