{{ if (eq .chezmoi.os "linux") -}}
{{ if (eq .hostname "x1c") -}}
#!/usr/bin/env bash

sudo dnf install --assumeyes nfsv4-client-utils autofs

cat <<EOF | sudo tee /etc/auto.master.d/extra.autofs
/r	file:/etc/autofs.r
/u	file:/etc/autofs.u
EOF

cat <<EOF | sudo tee /etc/autofs.r
aim    192.168.7.64:/export/r/aim
EOF

cat <<EOF | sudo tee /etc/autofs.u
aim    192.168.7.64:/export/home/aim
EOF

sudo systemctl restart autofs.service

{{ else if (eq .hostname "mba") -}}

cat <<EOF | sudo tee /etc/auto_master
#
# Automounter master map
#
#+auto_master		# Use directory service
/net			-hosts		-nobrowse,hidefromfinder,nosuid
/home			auto_home	-nobrowse,hidefromfinder
/Network/Servers	-fstab
/-			-static
/u			auto_u		-nobrowse,hidefromfinder,nosuid
/r			auto_r          -nobrowse,hidefromfinder,nosuid
EOF

cat <<EOF | sudo tee /etc/auto_u
aim    -fstype=nfs,vers=3,async,noatime,locallocks,resvport,hard,bg,intr,rw,tcp,nfc,rsize=65536,wsize=65536 nfs://192.168.7.64:/export/home/&
EOF

cat <<EOF | sudo tee /etc/auto_r
aim    -fstype=nfs,vers=3,async,noatime,locallocks,resvport,hard,bg,intr,rw,tcp,nfc,rsize=65536,wsize=65536 nfs://192.168.7.64:/export/r/&
EOF

automount -vc

{{ end -}}
{{ end -}}
