{{ if (eq .chezmoi.os "linux") -}}
{{ if (eq .hostname "spicy") -}}
#!/usr/bin/env bash

set -o errexit

systemctl --user enable --now xdwim
systemctl --user enable --now notmuch.timer

{{ end -}}
{{ end -}}
