{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

{{ $brews := list
"ansible"
"autojump"
"bat"
"chezmoi"
"cmake"
"coreutils"
"delta"
"delve"
"direnv"
"dockutil"
"exa"
"findutils"
"fzf"
"gcc"
"gh"
"git"
"git-lfs"
"gnu-units"
"golangci-lint"
"gopass"
"gopls"
"goreleaser"
"jq"
"libgccjit"
"llvm"
"markdown"
"moreutils"
"mosh"
"mtr"
"notmuch"
"pass"
"pinentry-mac"
"railwaycat/emacsmacport/emacs-mac"
"ripgrep"
"sshuttle"
"swift-format"
"terraform"
"the_silver_searcher"
"tmux"
"virtualenv"
"wakeonlan"
"watch"
"watchexec"
"wget"
"wimlib"
"yq" -}}
{{ $casks := list
"balenaetcher"
"firefox"
"google-chrome"
"hammerspoon"
"homebrew/cask-fonts/font-jetbrains-mono"
"signal"
"spotify"
-}}

{{ if eq .chezmoi.arch "amd64" -}}
{{   $brews = concat $brews (list
       "shellcheck") -}}
{{ end -}}

{{ if .kubernetes -}}
{{   $brews = concat $brews (list
       "aws-iam-authenticator"
       "awscli"
       "azure-cli"
       "eksctl"
       "helm"
       "kops"
       "openshift-cli"
       "kubernetes-cli"
       "minikube"
       "google-cloud-sdk"
       "packer") -}}
{{ $casks = concat $casks (list
       "zoom") -}}
{{ end -}}

{{ if eq .chezmoi.arch "amd64" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ else -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ end -}}

{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

{{ end -}}

