[Desktop Entry]
Exec=xdwim
Version=1.0
Type=Application
Categories=Development
Name=xdwim
Terminal=false
X-GNOME-Autostart-enabled=true
StartupNotify=false
X-GNOME-Autostart-Delay=10
X-MATE-Autostart-Delay=10
X-KDE-autostart-after=panel
