html {
  -webkit-filter: invert(100%);
  /* -webkit-perspective: 1000; */
  /* -webkit-backface-visibility: hidden; */
}

img {
  -webkit-filter: invert(100%) !important;
}

body {
  /* defaultzoom: 130%; */
  zoom: 130%;
  /* color: #FAEBD7 !important; */
  /* background: white !important; */
}

object {
  -webkit-filter: invert(100%) !important;
}

/* a { */
/*     color:yellow !important; */
/* } */

/* * { */
/*   color: inherit !important; */
/*   background: transparent !important; */
/* } */
