hs.hotkey.bind({"control", "cmd"}, 'Q', function() end)
hs.hotkey.bind({"cmd", "shift"}, 'e', function () hs.application.launchOrFocus("Emacs") end)
hs.hotkey.bind({"cmd", "shift"}, 'n', function () hs.application.launchOrFocus("iTerm") end)
hs.hotkey.bind({"cmd", "shift"}, 'c', function () hs.application.launchOrFocus("GoLand") end)

{{- if eq .hostname "amcdermo-mac" }}
hs.hotkey.bind({"cmd", "shift", "control"}, 'n', function() hs.application.launchOrFocus("Google Chrome") end)
{{- else }}
hs.hotkey.bind({"cmd", "shift", "control"}, 'n', function() hs.application.launchOrFocus("Safari") end)
{{- end }}

hs.application.enableSpotlightForNameSearches(true)
