[Unit]
Description=xdwim
PartOf=graphical-session.target

[Service]
ExecStart=${HOME}/.local/bin/xdwim
Restart=always

[Install]
WantedBy=xsession.target
